@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
 

/* General Styles */

body {
	font-family: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
	transition: 0.2s all linear;
}

.container {
	max-width: 900px;
	margin: 30px auto;
	padding: 0 15px;
}

p {
	margin-bottom: 10px;
}

/* Tab Comp */


.tab-container {
	border: 4px solid #005da4;
	border-radius: 3px;
}

.tabs-nav ul {
    display: flex;
    background: #195ea4;
}

.tabs-nav ul a {
    padding: 15px 30px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.tabs-nav ul a.active, .tabs-nav ul a:hover {
    background: #fff;
    color: #195ea4;
}

.tabs-content {
    padding: 20px;
}

/*.tabs-content .tabs-item:not(:first-child) {
    display: none;
}*/


/* Responsive */

@media (max-width: 767px) {
	.tabs-nav ul a {
	    font-size: 14px;
	    padding: 10px;
	    width: 100%;
	    text-align: center;
	}

	.tabs-nav ul {
	    justify-content: space-around;
	}

	.tabs-content {
	    padding: 10px;
	    font-size: 14px;
	}
		
	.tabs-nav ul li {
	    width: 100%;
	    flex: 25% 0 0;
	    max-width: 25%;
	}
}
